.smart-form section {
    padding-left: 10px;
    padding-right: 10px;
}
/*Flight Area*/
.going-area {padding-left:0!important;}
.return-area {padding-right:0!important;}


.going, .return {
    position: relative;
    float: left;
    width: 22%;
    background-color: #4183c4;
    color: #fff;
    padding: 5px 10px;
    margin-right: 27px;
    font-weight:bold;
}
.going:before {
    content: '';
    position: absolute;
    right: -27px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 0 16px 27px;
    border-color: transparent transparent transparent #4183C4;
    z-index: 1;
}
.going:after, .return:after {
    content: '';
    position: absolute;
    right: -10px;
    top: 7px;
    width: 19px;
    height: 17px;
    background: url('../img/plane.png') center center no-repeat;
    z-index: 999;
}
.return:before {
    content: '';
    position: absolute;
    right: 0px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 0 16px 27px;
    border-color: transparent transparent transparent #FFFFFF;
    z-index: 1;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.return:after {
    background: url('../img/step2sprite.png') no-repeat;
    background-position: -87px 0;
    right: -3px;
}

.rota {
    width: 37%;
    color: #5a94cc;
    font-weight: bold;
    line-height: 2.3;
    font-size: 15px;
    text-align: right;
}

.select2-container--disabled .select2-selection{
    background: #eee;
}